
@{
    ViewData["Title"] = "Team Odds - Back Office";
}


    <div class="container">

        <div class="text-center">
            <h1 class="display-4">Manage Team Odds</h1>


        </div>
        <div class="col-md-6">
            <a asp-action="odd_entry" class="btn btn-primary">Add Odd</a>
            <a asp-action="odd_publish" class="btn btn-primary">Publish Odds</a>
        </div>


        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Home VS Away</th>
                        <th>1</th>
                        <th>X</th>
                        <th>2</th>
                        <th>Last Updated</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>


                    @if (ViewData["Odds"] == null)
                    {
                        <h4 class="display-4"> No Data</h4>
                    }
                    else
                    {
                        foreach (var item in (IEnumerable<AdminQuery>)ViewData["Odds"])
                        {
                            <tr>
                                <td>@item.HomeTeam VS @item.AwayTeam</td>
                                <td>@item.HomeOdd</td>
                                <td>@item.DrawOdd</td>
                                <td>@item.AwayOdd</td>
                                <td>@item.LastUpdated</td>
                                <td>
                                    <a asp-action="odd_update" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
                                    <a asp-action="odd_delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                </td>

                            </tr>
                        }
                    }

                </tbody>

            </table>
        </div>
    </div>





